<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= currentUser.firstName %>'s Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <h1>WELCOME <%= currentUser.firstName %>!</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 favLeft" id="bookmark">Favourites</div>
        <div class="col-sm-9 col-md-9 mapRight" id="mapBaseLayer">Hello World!</div>
      </div>
    </div>



  </body>
</html>
