/* LAYOUT.EJS */
body {
  text-align: center;
  background-color: #f7f7f9;
}

.navbar-default {
  background-color: #39CCE3;
}

.navbar-default .navbar-nav>.active>a, .navbar-nav>.active>a:hover {
  background-color: inherit;
}

#logo {
  height: 20px;
  width: auto;
}

.topHeader {
  display: inline-block;
  text-decoration: none;
  color: #777;
}

#loginPic {
  height: 200px;
  width: auto;
}

.form-control {
  width: 300px;
  margin: 10px auto;
  left: 50%
}

#loginBtn {
  width: 300px;
}

.AddInfo {
  margin: 10px;
}

#registerHeader {
  margin: 50px;
}

h1 {
  margin: 40px;
}

li {
  list-style-type: none;
  margin: 5px;
}

.rightcolumn {
  text-align: left;
}

.panel {
  width: 500px;
  margin: 30px auto;
}

.btn-info {
  width: 100px;
  margin: 10px;
  right: 10px;
}

.inputName {
  width: 150px;
}

.modal-footer .btn+.btn {
  margin-right: 20px;
}

.form-horizontal .control-label  {
  padding-top: 17px;
}

/* HOME PAGE*/
#bookmark {
  height: 500px;
  border: 1px solid ##5bc0de;
  border-radius: 4px;
}

#mapid {
  height: 450px;
  width: 100%
  position: absolute;
}

#mapinfo {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

h4 {
  padding: 5px;
}

.homeMap {
  width: 100px;
}

.btn-warning {
  margin: 8px;
}

.ccDiv {
  margin-top: 5%;
}

.labelName {
  text-align: left;
}

.ccInputs {
  width: 90%;
}

.homePanel {
  width: 95%;
}

.panel-default>.panel-heading {
  background-color: #5bc0de;
  color: white;
}

/* FAVOURITES */
.addingFavouritesStyle {
  display: inline-block;
  margin: 10px;
}

.tableHeader {
  text-align: center;
}

.tableAlignLeft {
  text-align: left;
  /*margin: 10px 0;*/
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: none;
}
/* SETTINGS */
